.app-footer {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 2rem;

    margin-top: 4rem;

    border-top: 1px solid rgba(255, 70, 85, 0.2);

    color: #9ca3af;
}

.footer-links {
    display: flex;
    gap: 1rem;
}

.footer-links a {
    color: inherit;
    font-size: 1.3rem;
    transition: all 0.2s ease;
}

.footer-links a:hover {
    color: #ff4655;
    transform: translateY(-2px);
}